* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    color: #1A1A1A;
    background-color: #F8F8F8;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    opacity: 0;
    transition: opacity 1s;
}

::-moz-selection {
    background-color: rgba(119, 67, 219, 0.2);
}

::selection {
    background-color: rgba(119, 67, 219, 0.2);
}

.header {
    margin: 140px auto 80px;
}

h1,
h2,
h3,
div.case-study-block,
figcaption,
p,
ul,
.divider,
.back-button-container,
.social-media-container,
footer {
    max-width: 560px;
}

h1 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.078125rem;
}

h2,
h3 {
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.0390625rem;
}

h1.intro-title {
    font-size: 3.25rem;
    line-height: 1.05;
    margin: 80px auto 24px;
}

h1.main-title {
    font-size: 3rem;
    margin: 80px auto 24px;
}

h2.section-title {
    font-size: 2.25rem;
    margin: 72px auto 24px;
}

h2.section-title_project {
    font-size: 2rem;
    line-height: 1.2;
    margin: 72px auto 24px;
}

h2.section-title_process {
    font-size: 2rem;
    line-height: 1;
    margin: 56px auto 16px;
}

div.case-study-block {
    margin: 28px auto;
}

h3.section-block-title {
    font-size: 1.5rem;
    line-height: 1.2;
    letter-spacing: -0.03125rem;
}

.section-block-description {
    margin: 8px auto 28px;
}

p,
ul,
li,
figcaption {
    color: #4D4D4D;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    margin: 16px auto;
}

strong {
    font-weight: 700;
}

.project-metadata {
    color: #8A8A8A;
    font-family: inherit;
    font-size: 0.875rem;
}

ul li {
    margin: 8px 0 8px 24px;
}

li {
    padding-left: 8px;
}

li::marker {
    color: #8A8A8A;
}

.stylized-number {
    display: inline-block;
    width: 50px;
    text-align: right;
    font-family: 'Homemade Apple', cursive;
    color: #8A8A8A;
    margin-right: 20px;
}

.stylized-paragraph {
    padding-left: 70px;
}

figcaption {
    color: #7F7F7F;
    font-size: 0.875rem;
    line-height: 1.4;
}

a {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    text-decoration-line: none;
    -webkit-text-decoration-line: none;
    display: inline;
    transition: color 180ms ease-in-out;
}

a.section-block-title {
    color: #7743DB;
    transition: color 180ms ease-in-out;
}

a.section-block-title:hover {
    color: #5724BB;
}

a.link {
    color: #4D4D4D;
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-decoration-thickness: 2px;
    -webkit-text-decoration-thickness: 2px;
    text-decoration-color: #E0E0E0;
    -webkit-text-decoration-color: #E0E0E0;
    text-underline-offset: 4px;
    -webkit-text-underline-offset: 4px;
    transition: color 180ms ease-in-out;
}

a.link:hover {
    color: #7743DB;
}

a.social-media {
    color: #4D4D4D;
    line-height: 1.6;
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-decoration-thickness: 2px;
    -webkit-text-decoration-thickness: 2px;
    text-decoration-color: #E0E0E0;
    -webkit-text-decoration-color: #E0E0E0;
    text-underline-offset: 4px;
    -webkit-text-underline-offset: 4px;
    transition: all 180ms ease-in-out;
}

a.social-media:hover {
    color: #7743DB;
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-decoration-thickness: 2px;
    -webkit-text-decoration-thickness: 2px;
    text-decoration-color: #E0E0E0;
    -webkit-text-decoration-color: #E0E0E0;
    text-underline-offset: 4px;
    -webkit-text-underline-offset: 4px;
}

a.back-button {
    color: #7F7F7F;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    transition: color 160ms ease-in-out;
}

a.back-button:hover {
    color: #4D4D4D;
}

a.footer-CTA {
    font-weight: 700;
    color: #4D4D4D;
}

a.footer-CTA:hover {
    color: #7743DB;
}

.back-button-container {
    margin: 32px auto;
}

figure,
figure.project-img {
    max-width: 800px;
    margin: 40px auto 72px;
}

.image {
    border-radius: 12px;
    max-width: 100%;
}

.divider-line {
    border-bottom: 1px dashed #DADADA;
    margin: 40px auto;
}

footer {
    margin: 60px auto 40px;
}

.footer-container {
    border-top: 1px dashed #DADADA;
    margin: 60px auto 40px;
}

.footer-text {
    font-family: inherit;
    margin: 32px auto 8px;
}

.footer-text-light {
    color: #4D4D4D;
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1.2;
    margin: 40px auto 0;
}

.footer-project-title {
    font-family: inherit;
    font-size: 1.5rem;
    line-height: 1.2;
    letter-spacing: -0.03125rem;
    margin: 0 auto 32px;
}

@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }

    h1,
    h2,
    h3,
    p,
    ul,
    figure,
    figcaption,
    .divider,
    .back-button-container,
    footer {
        padding: 0 20px;
    }

    .header {
        margin: 64px auto;
    }

    .back-button-container {
        margin: 20px auto;
    }

    h1.main-title {
        margin: 40px auto 20px;
    }

    h2.section-title {
        margin: 72px auto 16px;
    }

    .stylized-paragraph {
        padding-left: 90px;
    }

    footer {
        margin: 40px auto;
    }

    .footer-text,
    .footer-project-title,
    .footer-text-light {
        padding: 0;
    }
}

@media screen and (max-width: 440px) {
    .header {
        margin: 40px auto;
    }

    h1.intro-title {
        font-size: 2.5rem;
    }

    h1.main-title {
        font-size: 2.5rem;
    }

    h2.section-title {
        font-size: 1.75rem;
    }

    h2.section-title_project {
        font-size: 1.5rem;
        margin: 56px auto 16px;
        line-height: 1.2;
    }

    h2.section-title_process {
        font-size: 1.5rem;
        line-height: 1;
        margin: 40px auto 16px;
    }

    .stylized-number {
        width: 40px;
        margin-right: 10px;
    }

    .stylized-paragraph {
        padding-left: 70px;
    }

    figure,
    figure.project-img {
        margin: 40px auto;
    }
}