* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    color: #1A1A1A;
    background-color: #FAFAFA;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    opacity: 0;
    transition: opacity 1s;
}

::-moz-selection {
    background-color: rgba(119, 67, 219, 0.2);
}

::selection {
    background-color: rgba(119, 67, 219, 0.2);
}

.header {
    margin: 160px auto 80px;
}

h1,
h2,
h3,
div.case-study-block,
figcaption,
p,
ul,
.social-media-container {
    max-width: 560px;
}

h1 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.063rem;
}

h2,
h3 {
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03125rem;
}

h1.main-title {
    font-size: 48px;
    margin: 80px auto 24px;
}

h2.section-title {
    font-size: 32px;
    margin: 72px auto 24px;
}

h2.section-title_project {
    font-size: 32px;
    line-height: 1.2;
    margin: 72px auto 24px;
}

div.case-study-block {
    margin: 40px auto;
}

h3.section-block-title {
    font-size: 28px;
    line-height: 1.2;
}

.section-block-description {
    color: #656565;
    font-size: 16px;
    margin: 8px auto 32px;
}

p,
ul,
li,
figcaption {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin: 16px auto;
}

strong {
    font-weight: 600;
}

.project-metadata {
    color: #7F7F7F;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
}

ul li {
    margin: 8px 0 8px 24px;
}

li {
    padding-left: 8px;
}

figcaption {
    color: #7F7F7F;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
}

a {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    text-decoration-line: none;
    -webkit-text-decoration-line: none;
    display: inline;
    transition: color 180ms ease-in-out;
}

a.section-block-title {
    color: #7743DB;
    transition: color 180ms ease-in-out;
}

a.section-block-title:hover {
    color: #5724BB;
}

a.external-link {
    color: #7F7F7F;
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-decoration-thickness: 2px;
    -webkit-text-decoration-thickness: 2px;
    text-decoration-color: #E0E0E0;
    -webkit-text-decoration-color: #E0E0E0;
    text-underline-offset: 4px;
    -webkit-text-underline-offset: 4px;
    transition: color 180ms ease-in-out;
}

a.external-link:hover {
    color: #7743DB;
}

a.social-media {
    color: #7F7F7F;
    line-height: 1.6;
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-decoration-thickness: 2px;
    -webkit-text-decoration-thickness: 2px;
    text-decoration-color: #E0E0E0;
    -webkit-text-decoration-color: #E0E0E0;
    text-underline-offset: 4px;
    -webkit-text-underline-offset: 4px;
    transition: all 180ms ease-in-out;
}

a.social-media:hover {
    color: #7743DB;
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    text-decoration-thickness: 2px;
    -webkit-text-decoration-thickness: 2px;
    text-decoration-color: #E0E0E0;
    -webkit-text-decoration-color: #E0E0E0;
    text-underline-offset: 4px;
    -webkit-text-underline-offset: 4px;
}

a.back-button {
    color: #7F7F7F;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    transition: color 160ms ease-in-out;
}

a.back-button:hover {
    color: #4C4C4C;
}

a.footer-CTA {
    font-weight: 700;
    color: #7F7F7F;
}

a.footer-CTA:hover {
    color: #7743DB;
}

.back-button-container {
    display: inline-block;
    margin: 24px auto;
    padding: 0 24px;
}

figure,
figure.project-img {
    max-width: 800px;
    margin: 40px auto 72px;
}

.image {
    border-radius: 12px;
    max-width: 100%;
}

footer {
    margin: 40px auto 100px;
}

footer.footer-project {
    margin: 0 24px;
}

.footer-container {
    max-width: 560px;
    border-top: 1px solid #DADADA;
    margin: 56px auto 40px;
}

.footer-caption {
    font-family: inherit;
    font-weight: 500;
    margin: 32px auto 8px;
}

.footer-caption-light {
    color: #7F7F7F;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin: 32px auto 0;
}

.footer-project-title {
    font-family: inherit;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.01875rem;
    margin: 0 auto 32px;
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
    }

    h1,
    h2,
    h3,
    p,
    ul,
    figure,
    figcaption,
    footer {
        padding: 0 20px;
    }

    footer.footer-project {
        margin: 0;
    }

    .header {
        margin: 64px auto;
    }

    .back-button-container {
        margin: 20px auto;
        padding: 0 20px;
    }

    h1.main-title {
        margin: 40px auto 20px;
    }

    h2.section-title {
        margin: 72px auto 16px;
    }

    footer {
        margin: 40px auto;
    }
}

@media screen and (max-width: 400px) {
    h1.main-title {
        font-size: 40px;
    }

    h2.section-title {
        font-size: 28px;
    }

    h2.section-title_project {
        font-size: 24px;
        margin: 56px auto 16px;
        line-height: 1.2;
    }
}