*, *::before, *::after {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('/fonts/CrimsonPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('/fonts/CrimsonPro-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('/fonts/CrimsonPro-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('/fonts/CrimsonPro-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

:root {
    --background: #EAF3E2;
    --default: #31481E;
    --secondary: #637A52;
    --caption-metadata: #637A52;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #131D0C;
        --default: #E2E3C9;
        --secondary: #888E6F;
        --caption-metadata: #888E6F;
    }
}

body {
    background-color: var(--background);
    color: var(--default);
    font-family: 'Crimson Pro', Iowan, Georgia, ui-serif;
    font-size: 1.1875rem;
    font-kerning: normal;
    line-height: 1.5;
    text-wrap: pretty;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    hanging-punctuation: first allow-end last;
}

img, picture, video, canvas {
  display: block;
  max-inline-size: 100%;
}

.global-nav {
    padding-block: 8rem 0;
}

.nav-container {
    max-width: 500px;
    height: 2.5rem;
}

svg.logo:hover {
    color: var(--secondary);
    transition: color 120ms ease-in-out;
}

.homepage-header,
.subpage-header {
    margin-block: 4rem;
}

.page-block,
.links-page,
.separator,
.body-section,
h1, h2, h3, p, ul, ol, li, figcaption, footer {
    max-width: 500px;
}

h1, h2, h3 {
    font-size: 1.6875rem;
    font-weight: 400;
    letter-spacing: -0.015625rem;
    line-height: 1.25;
    margin-block: 4rem 1rem;
}

h1.main-title {
    line-height: 1.2;
    text-wrap: balance;
}

h3 {
    letter-spacing: -0.00625rem;
    font-size: 1.4375rem;
    margin-block: 3rem 1rem;
}

p {
    margin-block: 0.75rem;
}

ul, ol, li {
    margin-block: 1rem;
}

.paragraph-indent p {
    text-indent: 1.5rem;
}

.paragraph-indent :is(h1, h2, h3) + p,
.paragraph-indent p:first-of-type,
.body-section:has(blockquote) + p {
    text-indent: 0;
}

strong {
    font-weight: 600;
}

img, picture {
    border-radius: 4px;
}

figcaption {
    font-size: 1.0635rem;
    line-height: 1.4;
    color: var(--caption-metadata);
    text-align: center;
    margin-block: 1.25rem;
}

.unselectable {
    user-select: none;
}

.compact-heading {
    margin-block: 2rem 0.25rem;
}

div.block-item-container,
div.links-page {
    margin-block: 3rem;
}

div.block-item-container p {
    margin-block: 0;
}

div.links-page-section {
    margin-block: 1.5rem;
}

div.links-page-section p {
    line-height: 1.4;
}

p.date {
    color: var(--secondary);
}

p.compact {
    margin: 0.25rem auto;
}

li {
    padding-left: 0.5rem;
    margin: 0.75rem 0 0.75rem 1.75rem;
}

li::marker {
    color: hsl(from var(--default) h s l / 40%);
}

.subtle {
    color: hsl(from var(--default) h s l / 40%);
}

a {
    display: inline;
    color: inherit;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: hsl(from var(--default) h s l / 25%);
    text-decoration-thickness: 0.0625rem;
    text-underline-offset: 0.1875rem;
    transition: all 120ms ease-in-out;
}

a:hover {
    color: var(--default);
    text-decoration-color: hsl(from var(--default) h s l / 60%);
}

.minimal-link {
    color: inherit;
    text-decoration: none;
}

.minimal-link:hover {
    color: var(--secondary);
}

.inline-icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.inline-icon svg path {
    color: hsl(from var(--default) h s l / 30%);
    transition: color 120ms ease-in-out;
}

.blog-title:hover .inline-icon svg path {
    color: hsl(from var(--default) h s l / 60%);
}

.secondary {
    color: var(--secondary);
}

figure.media-img {
    max-width: 640px;
    margin-block: 4rem;
}

figure.media-img-small {
    max-width: 500px;
    margin-block: 3rem;
}

div.decorative-line {
    max-width: 500px;
    border: 0;
    border-top: 0.0625rem dashed hsl(from var(--default) h s l / 18%);
}

blockquote {
    padding: 0 1.5rem;
    margin-block: 1rem;
    border-left: 0.0625rem solid hsl(from var(--default) h s l / 20%);
}

footer {
    margin-block: 5rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-top: 0.0625rem solid hsl(from var(--default) h s l / 10%);
    padding-block: 3rem 0;
}

svg.footer-logo {
    position: relative;
    display: block;
}

svg.footer-logo:hover {
    color: var(--secondary);
    transform: translate(0, -4px);
    transition: transform 200ms ease-in-out, color 120ms ease-in-out;
}

svg.footer-logo:not(:hover) {
    transform: translate(0, 0);
    transition: transform 200ms ease-in-out, transition-delay 200ms;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.separator::before {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;   
    content: "\2733 \2733 \2733";
    letter-spacing: 1rem;
    color: hsl(from var(--default) h s l / 40%);
    user-select: none;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    padding: 0 1.25rem 0 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

@media (prefers-reduced-motion: no-preference) {
  .carousel {
    scroll-behavior: smooth;
  }
}

.carousel .media-img-small {
    display: flex;
    flex: 0 0 auto;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    align-items: baseline;
    margin-block: 2rem 1rem;
    padding: 0 0 0 1.25rem;
}

.carousel .media-img-small img {
    display: block;
    max-width: 400px;
    max-height: 100%;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(14px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header, main, footer {
  animation: slideUp 400ms ease-out;
}

@media screen and (max-width: 640px) {
    .global-nav {
        padding-block: 4rem 0;
    }
    
    .nav-container,
    h1, h2, h3, p, ul, ol, figure, footer,
    .body-section {
        padding: 0 1.25rem;
    }

    blockquote p {
        padding: 0;
    }
    
    div.decorative-line {
        margin: auto 1.25rem;
    }

    figure.media-img,
    figure.media-img-small {
        margin-block: 2.5rem;
    }

    .carousel .media-img-small img {
        width: 300px;
    }
}